<h1>Cuestionario</h1>
<p>
  Usted contactó recientemente con nuestro departamento de atención al cliente vía Chat y nos gustaría comprobar su nivel de satisfacción con el resultado.
  Por favor, dedíquenos un momento para completar esta pequeña encuesta.
</p>
<p>
    La información que nos proporcione será utilizada para mejorar el servicio. Sus respuestas serán completamente confidenciales.
</p>
<h3>
Esta encuesta se completa en 1 minuto aproximadamente.
</h3>
<%= render 'form' %>
<a href="/" class="btn-lg btn-default">Atrás</a>
<br><br><br>
<!--%= link_to 'Regresar', tests_path %-->
